<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mahesh</title>
</head>
<body>
    <marquee>
        <h1>Idi Kurnool Kadu ra,Paathabasti This Not Kurnool,Old Lane!!!!</h1>
        <h1>Mind lo fix ayithe blind ga vellipotha,vinna Inside mind Fix,I Go Blind.No Listen</h1>
        <h1>Gurthupettuko Neekante Thope Evadu Ledikkada Remember,Greater Than You,No One Here</h1>
    </marquee>
</body>
</html>